[submodule "pack/lang/start/rust.vim"]
	path = pack/lang/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "pack/nav/start/fzf.vim"]
	path = pack/nav/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "pack/utility/start/syntastic"]
	path = pack/utility/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "pack/utility/start/tagbar"]
	path = pack/utility/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "pack/utility/start/nerdtree"]
	path = pack/utility/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "colors/PaperColor"]
	path = colors/PaperColor
	url = https://github.com/NLKNguyen/papercolor-theme.git
[submodule "pack/utility/start/vim-fugitive"]
	path = pack/utility/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/utility/start/vim-airline"]
	path = pack/utility/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pack/utility/YouCompleteMe"]
	path = pack/utility/opt/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
[submodule "pack/utility/start/vim-airline-themes"]
	path = pack/utility/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "pack/utility/start/coc.nvim"]
	path = pack/utility/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
	branch = release
[submodule "pack/lang/start/haskell-vim"]
	path = pack/lang/start/haskell-vim
	url = https://github.com/neovimhaskell/haskell-vim.git
[submodule "pack/lang/start/vim-hindent"]
	path = pack/lang/start/vim-hindent
	url = https://github.com/alx741/vim-hindent.git
[submodule "pack/utility/start/vim-gitgutter"]
	path = pack/utility/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
